*{
  margin: 0;
  padding: 0;
}
$primary: hsl(26, 100%, 55%);
$secondary: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0, .75);

@font-face {
  font-family: 'Kumbh-Sans';
  src: url(../fonts/static/KumbhSans-Regular.ttf);
}
body{
  font-family: 'Kumbh-Sans';
}
@keyframes burgerAnim {
  0%{
    transform: translateX(-250px);
  }
  90%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0);
  }
}
.js-burger{
  display: none;
}
.burger{
  
  position: absolute;
  background: $black;
  width: 100vw;
  z-index: 2;

  .container{
    animation: burgerAnim .5s ease-in;
    padding: 30px;
    width: 55%;
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100vh;
    button{
      width: fit-content;
      margin-bottom: 50px;
      border: none;
      background: none;
      img{
        width: 15px;
      }
    }
 
    li{
      list-style-type: none;
      padding: 10px 0;
      font-weight: 700;
    }
  }
}
nav{
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 90px;

  .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button{
      border: none;
      margin: 0 5px;
      background: transparent;
    }
    #image-avatar{
      width: 30px;
      height: auto;
    }
  }
  .nav-desktop{
    display: none;
  }
}
@keyframes sliderAnim {
  0%{
    transform: translateX(500px);
  }

  100%{
    transform: translateX();
  }
}
.thumbnail-container{
  position: relative;
  .pics img{
    animation: sliderAnim .8s ease;
    object-fit: fill;
    width: 100%;
    height: 18em;
  }
  .buttons{
    padding: 0 15px;
        
    button{
      border-radius: 30px;
      padding: 12px 15px;
      border: none;
      background: #fff;
      img{
        width: 9px;
      }
    }
    #left{
      position: absolute;
      bottom: 45%;
      z-index: 1;
    }
    #right{
      position: absolute;
      bottom: 45%;
      right: 5%;
      z-index: 1;
    }
  }
}
main{
  display: flex;
  flex-direction: column;
  margin: 15px 25px; 

  .header-container{
    h5{
      margin: 10px 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $primary;
    }
    h1{
      font-weight: 700;
      font-size: 1.8rem;
      color: $very-dark-blue;
    }
    p{
      margin: 15px 0;
      color: $dark-grayish-blue;
      font-size: .9rem;
      line-height: 1.2rem;
    }
  }
  .price-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 15px;
    align-items: center;
    margin: 10px 0;
    h2{
      font-weight: 700;
      font-size: 1.5rem;
      color: $very-dark-blue;
    }
    h4{
      background: rgb(255, 125, 26, .2);
      width: fit-content;
      padding: 2px 7px;
      border-radius: 5px;
      font-size: .8rem;
      color: $primary;
    }
    h3{
      text-decoration: line-through;
      font-size: .8rem;
      color: $dark-grayish-blue;
    }
  }
  .button-container{
    margin: 10px 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  
    .buttons{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      align-items: center;
      border-radius: 5px;
      background: $light-grayish-blue;
      button{
        border: none;
        background: none;
      }
    }
    .add-to-cart{
      margin-bottom: 20px;
      button{
        width: 100%;
        padding: 20px 15px;
        border-radius: 5px;
        border: none;
        background: $primary;
        color: $secondary;
        font-family: 'Kumbh-Sans';
        font-weight: 700;
        box-shadow: 0 10px 30px rgb(255, 125, 26, .5);;
        .test{
          margin: 0 10px;
          filter: brightness(0) invert(1);
          width: 15px
        }
      }
    }
  }
}
.js-cart{
  display: none;
}
@keyframes cartAnimation {
  0%{
    scale: .5;
  }

}
.cart{
  animation: cartAnimation .5s ease;
  margin: 12px 10px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  width: 95%;
  top: 70px;
  z-index: 2;
  .container{
    display: flex;
    flex-direction: column;

    .label{
      padding: 20px 15px 20px 20px;
      border-bottom: 1px solid $light-grayish-blue;
      h3{
        font-size: 15px;
      }
    }
    .product{
      padding: 20px;
      display: grid;
      grid-template-columns: .5fr 3fr .3fr;
      column-gap: 15px;
      align-items: center;
      h5{
        text-transform: capitalize;
        color: $dark-grayish-blue;
        font-size: 15px;
      }
      img{
        border-radius: 5px;
        width: 50px;
        height: auto;
        object-fit: contain;
      }
      .price-container{
        
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        width: 80%;
        margin: 10px 0;
      }
      p{
        font-size: 15px;
      }
    }
    #delete-cart{
      border: none;
      background: transparent;
      img{
        width: 15px;
      }
    }
    .checkout{
      margin: 0 20px 30px 20px;
      button{
        width: 100%;
        padding: 15px;
        text-transform: capitalize;
        border: none;
        border-radius: 10px;
        font-family: 'Kumbh-Sans';
        background: $primary;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
.attribution { font-size: 11px; text-align: center; 
  a { color: hsl(228, 45%, 44%); }
}
@media (min-width: 1440px) {
  .line{
    top: 13.8%;
    position: absolute;
    border-bottom: 1px solid $grayish-blue;
    width: 85%;
    left: 6.5%;
  }
  nav{
    display: flex;
    margin: 0 10%;
    padding: 0;
    .nav-container{
      display: none;
    }
    .nav-desktop{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .image_list{
        display: grid;
        align-items: center;
        grid-template-columns: .5fr 1fr;
        ul{
          display: inline-flex;
          li{
            list-style: none;
            margin: 0 10px;
            text-transform: capitalize;
            color: $dark-grayish-blue;  
            line-height: 100px;
          }
          li:hover{
            transition: color .5s, box-shadow .5s;
            color: $very-dark-blue;
            box-shadow: 0 5px 0 0 $primary;
            line-height: 100px;
            cursor: pointer;
          }
        }
      }
      .cart-avatar{
        display: flex;
        button{
          background: none;
          margin: 0 20px;
          border: none;
          cursor: pointer;
          img{
            width: 20px;
          }
          #image-avatar{
            width: 50px;
            
          }
          #image-avatar:hover{
            transition: box-shadow .3s;
            box-shadow: 0 0 0 2px $primary;
            border-radius: 25px;
          }
        }
        .cart-logo:hover{
          transition: filter .5s;
          filter: brightness(0.5) sepia(1) hue-rotate(180deg) saturate(0);
        }
      }
    }
  }
  .thumbnail-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    align-items: center;
    margin: 5% 15%;
    .buttons{
      display: none;
    }

    .desktop-pics-container{
      display: flex;
      flex-direction: column;
      margin: 20px;
      #header-pic{
        height: 25em;
        border-radius: 10px;
      }
      .pics-below{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        img{
          border-radius: 10px;
          width: 6em;
          height: auto;
        }
        img:hover{
          cursor: pointer;
          transition: .8s;
          opacity: .5;
        }
      }
    }
    .header-container{
      h1{
        font-size: 40px;
        margin-bottom: 40px;
      }
    }
    .price-container{
      grid-template-columns: 1fr 4fr;
      row-gap: 15px;
    }
    .button-container{
      grid-template-columns: 1.5fr 2fr;
      column-gap: 20px;
      align-items: center;

      .buttons{
        padding: 10px;
      }
      .add-to-cart{
        margin: 0;
      }
      button:hover{
        cursor: pointer;
        transition: .8s;
        opacity: .8;
      }
    }
  }
  .cart{
    width: 25%;
    right: 6%;
    top: 10%;
    box-shadow: 0 5px 10px 0 $black;
  }
}